
# The kernel files we download
debian.*.i386.initrd.gz
debian.*.i386.kernel

# The modules we extract from the downloaded initrd
debian.*.i386.modules.cpio
debian.*.i386.modules/

# The debian buildroot and modules combined
combined.initrd

# A persistent storage file for testing
persistent.storage
