# By default, all wlan interfaces will share their internet
# If a different .link file is added to make a wlan interface be a client,
# mesh (or other) connection, then a similar matching .network file should
# be added to override this setting
#
[Match]
Type=wlan

[Network]
DHCPServer=yes
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=true
Address=0.0.0.0/24
IPForward=true
IPMasquerade=true

[DHCPServer]
# Ideally, networkd would get the upstream DNS address and use that to send
# downstream.  However, there is either a race condition or a code error and
# that doesnt down unless we force it.
EmitDNS=yes
DNS=9.9.9.9
